@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: myFirstFont;
    src: url(../../fonts/almonte.ttf);
  }

  .customFont {
    font-family: myFirstFont;
    letter-spacing: 1.5px;
  }
  